*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.header{
    margin: 0;
    padding: 0;
}

.container {
	width: 100%;
	height: 100px;
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
	background-size: 400% 400%;
	position: relative;
}

.nav-bar {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.965);
	top: 90px;
	right: 100%;
	height: 100vh;
	width: 100%;
    z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
	
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
	background-color: white;
}

.nav-list {
	list-style: none;
    justify-content: center;
}

.nav-list-item {
	text-align: center;
	padding: 0px 0;
   justify-content:center;
    display: flex;
    position: relative;
}

.nav-link {
	color: #fff;
	font-size: 28px;
	text-decoration: none;
	position: relative;
	padding-bottom: 5px;
    line-height: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    
}

.nav-link:hover {
	transform: scale(-3px);
    color: rgb(238, 151, 45, 0.93);
    font-size: 30px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
    font-family: 'Lexend Deca', sans-serif;
}


.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 1s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}


.nav-bar{
    display: none;
}

@media screen and(max-width:900px) {
    .nav-bar{
        display: block;
    } 
    .Menu .navlinks{
        display: none;
        
    }
   
}


.Menu{
    height: 90px;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    top: 0;
    padding: 0px;
    margin: 0;
    position: fixed;
    z-index: 2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(90deg, rgb(13, 45, 114), rgb(13, 13, 72));
   
  }
  
  
  .navlinks li a{
  
    font-family: 'Lexend Deca', sans-serif;
  }
  
  .navlinks ul{
    display: flex;
    flex-direction: row;
    text-align:end;
    list-style-type: none;
    position: relative;
  
  }
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 60px;
    position: relative;
    transition: ease-in;
    transition: 0.5s;
  }
  span{
    display: inline-block;
  }
  
  a:hover{
    transform: scale(-3px);
    color: rgb(238, 151, 45, 0.93);
    font-size: 28px;
    
  
  }
  
  


body{
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    height:5000px;
    width: 100%;
    background: linear-gradient(90deg, rgb(13, 13, 72), blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    

}



.Accueil{
    width: 100%;
    height: 750px;
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
  


}
.Apropos{
width: 700px;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
top: 0;
position: relative;
justify-content: center;
align-items: center;

}
.BFS{
    width: 400px;
    margin: 0;
    padding: 0p;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
.BFS img{
    border-radius: 50%;
    height: 150px;
    padding: 20px;
    position: relative;
    justify-content: center;
    top: 0;


}
h1{
    font-size: 90px;
    font-family:'Nanum Brush Script', cursive;
    font-weight: 90px;
    color: white;
    padding: 0p;
    margin: 0;
  
    
}
.Apropos p{
    color: white;
    font-family:'Nanum Brush Script', cursive;
    text-align: center;
    margin: 0;
    padding: 10px;
    width: 600px;
    line-height: 3.2rem;
    font-size: 40px;
}



.Contenu button{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgba(255, 250, 250, 0.071);
    box-shadow: 0px 5px 10px rgba(2, 38, 122, 0.964);
    position: relative;
    z-index: 1;
   
   
    
  }
  button{
    top: 0px;
    padding: 0;
    margin: 0;
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Brush Script', cursive;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
  
  
  
    
  }
  
  
  button:hover{
    color: rgb(12, 12, 125);
    width: 250px;
  }
  
  button::before{
    content:"";
    position:absolute;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
  
  }
  button:hover::before{
    transform: translate(0%);
  }
  button i{
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
  }
  button:hover i{
    transform: scale(1);
    margin-left: 10px;
  }
  
  .SVG{

   
    width: 100%;
    height: 400px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: rgb(245, 243, 243);
    margin: 0;
    
    
  }
  


  
  .logos{
    top: 0;
    width: 100%;
    margin: 45px;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    
  
  }
  
  
  .logos img:hover{
    background:linear-gradient(90deg,rgba(46, 80, 252, 0.93), rgb(13, 4, 147));
  }
  .logos img{
    border-radius: 50%;
    padding: 30px;
    margin:30px;
    height: 70px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
    align-items: center;
    justify-content: center;
    position: relative;
  
  
  }
  .SVG h2{
    font-size: 3.2em;
    padding:60px;
    margin: 0;
    top: 0;
    font-weight: 600;
    color: #060f1e;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    text-align: center;
    width: 500px;
  }
  .services{
    justify-content:center;
    align-items:center;
    width: 200px;
    margin: 0;
    height: 0;
    top: 0;
    height: 0;
    display: flex;
    flex-direction: column;

    position: relative;
  }
  .services p{
    font-size: 28px;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 600;
    color: black;
    top: 0;
    text-align: center;
 

  }

  .Options{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

 


  @media screen  and(max-width:900px){
    h1{
        font-size: 55px;
        font-family:'Nanum Brush Script', cursive;
        font-weight: 60px;
        color: white;
        padding: 0px;
        margin: 0;
    }
  }
@media screen and(max-width:900px) {
    .SVG{
         
    width: 100%;
    height: 500px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: rgb(245, 243, 243);
    margin: 0;
    padding: 0;
  
    }

    .Options{
        display: flex;
        flex-direction: column;
        height: 300px;
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;

    }
      
  .logos{
    top: 100px;
    width: 100%;
    margin: 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  
  .logos img{
    border-radius: 50%;
    padding:20px;
    margin:0;
    height: 35px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
   
    position: relative;
  
  
  }

  .SVG h2{
    font-size: 45px;
    padding:40px;
    margin: 0;
    top: 0;
    font-weight: 500;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    text-align: center;
    width: 300px;
  }

  .services p{
    font-size: 17px;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 500;
    color: #00000;
    top: 0;
    text-align: justify;
 

  }



}

 

.ml14 {
    font-weight: 100;
    font-size: 3.2em;
    color: #fff;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
    align-items: center;
    position: relative;
    margin: 100px;
    padding: 30px;

  

    
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    top: 40px;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #f1f1ee;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
    top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }








  

.Galerie {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 1300px;
    justify-content: center;
    align-items: center;
    text-align: center;
   

}
.Galerie .photos{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 40px;
    background-color:rgb(238, 151, 45, 0.93);
    
    
   
}
.photos img{
    
    top: 0px;
    width: 380px;
    height: 275px;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    
    


}
.Galerie .photos :hover{
   
 
    transform: scale(1.1);
    transition: ease-in-out;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}

@media screen  and(max-width: 900px){
   

    .Galerie{
        height: 1200px;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
   
      .Galerie .photos{
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        padding: 40px;
        background-color:rgb(238, 151, 45, 0.93);
        
        
       
    }

      .photos img{
    
        top: 0px;
        width: 380px;
        height: 275px;
        padding: 15px;
        margin: 0;
        border-radius: 25px;
        
        
    
    
    }
    
        
      }

@media screen and(max-width:900px){
	.flexContainer{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 900px;
        top: 700px;
        padding: 0;
        transition: translateX(-300px);
        transition-duration: 7ms;
        transition: all ease-in-out;
       
    }
	
	.swiper {
        
        justify-content: center;
		align-item:center;
        height: 100vh;
	top: 700px;
	    
      }
    
	
    .flexContainer .threeCards{
        position: relative;
        padding: 5px;
        margin: 5px;
        top: 0px;
    }

	
}



.flexContainer{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: fit-content;
        top: 0;
        padding: 0;
        transition: translateX(-300px);
        transition-duration: 7ms;
        transition: all ease-in-out;
      
    
       
    }
    
    
    .threeCards{
        width: 200px;
        height: 400px;
        transition: 0.2 ease-in;
        transition: all 0.2s ease-in-out;
        top: 0;
        margin: 0;
        padding: 0;
        
        
    }
    

    
    .threeCards:hover {
        transform: scale(1.3);
    }
    .threeCards .header:hover{
        height: 130px;
        width: 200px;
        position: relative;
        background: rgba(213, 188, 0, 0.93);
        transition: 0.3s;
    
    }
   
    .header{
        height: 130px;
        width: 200px;
        top: 0;
        position: relative;
        background: rgba(8, 117, 171, 0.889);
        border-radius: 5px;
    }
    .header h2{
        margin: 0;
        position: relative;
        top: 50px;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    #spanPrix{
        font-size: 15px;
    }
    .price{
        height: 50px;
        width: 200px;
        background: rgba(0, 0, 0, 0.897);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        position: absolute;
        top:0;
    }
    
    .details{
        background: rgb(254, 255, 254);
        height: 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 20px;
        font-family: 'Nanum Brush Script', cursive;
        transition: all 0.1s ease-in;
        font-size: 19px;
        border-radius: 5px;
        height: 40px;
    }
    #btn{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        position: relative;
    
    }
    
    #btn a{
        text-align: center;
        justify-content: center;
        align-items: center;
        top: 10px;
        font-family: 'Lexend Deca', sans-serif;
        color: #ffffff;
        font-size: 15px;
        height: 0px;
        margin: auto;
        padding: 0px;
        transition: 1.5s;
       
    }
    span{
        display: inline-block;
    }
    
    #btn a:hover{
        color: #d88227;
        font-size: 16px;
    
    }
    .header p{
        font-family: 'Nanum Brush Script', cursive; 
        font-size: 18px;
        top: 0;
        margin: 1px;
    }
    
    
    .details:hover{
        background: rgba(207, 211, 214, 0.944);
    }
    
    

    .swiper {
        
        justify-content: center;
        height: 100vh;
	    top: 0px;
	    
      }
      .swiper-slide h1{
        font-family: 'Lexend Deca', sans-serif;
        height: 30px;
        color: #dbd9d6;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        top: 0;
        padding: 0px;
        
      }
    
      
    .swiper-slide .swiper-button-next{
        color: #000000;
        margin: 0;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
        top: 20%;
        margin: 5px;
       
    }
        
    .swiper {
        width: 100%;
        height: 100vh;
        margin: auto;
        padding: 0;
       
       
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
       height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
     
      .swiper-slide .swiper-button-prev{
        
        display: none;
        
        
    }
     
    .header h2{
        margin: 0;
        position: relative;
        top: 50px;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 18px;

    }

    .flexContainer .threeCards{
        position: relative;
        padding: 10px;
        margin: 10px;
        top: 0px;
    }











.introform{
  position: relative;
  display: flex;
  flex-direction: row;
  top: 0;
  height: 720px;
  justify-content: center;
  align-items: center;
}

 
  
}
.Formulaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0;
  padding: 0;

  

}
.Formulaire p{
  color: #fff;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 40px;
  text-align: justify;
  justify-content: center;


}
.intro{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.intro .description{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0px;
}
.intro :hover{
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
  transition-duration: 1s;
}
.description{

  width: 500px;
  height: 600px;
  background-color: #000000;
  border-radius: 10px;
  top: 0;
  position: relative;

}
.description p{
  font-family: 'Nanum Brush Script', cursive;
    color: #fff;
    font-size: 30px;
    font-weight:900;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
form{
    position: relative;
    width: 580px;
    height: 720px;
    margin: auto;
    background-color: #000000;
    top: 0;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgb(3, 10, 15);
    text-align: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;


}
.courstype{
  margin: 0;
  padding: 10px;
  position: relative;
}
.coordonées{
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.coordonées .Nom{
display: flex;
position: relative;
align-items: center;
flex-direction: column;
border-radius: 20px;
height: 95px;
width: 360px;
margin: 0;
padding: 4px;
background: linear-gradient(90deg, rgb(13, 13, 72), blue);
}
.coordonées h3{
  font-size: 18px;
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  padding: 7px;
  margin:5px;
}


.contacter{
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: fit-content;
}
.Formulaire{
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.Formulaire h2{
  color: rgb(0, 0, 0);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 25px;
  padding: 5px;
}
h3{
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  padding: 0px;
}

input{
    background:#fff;
    border: none;
    padding: 0.5rem;
    width: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(5, 5, 215, 0.904);
    color: rgba(0, 0, 0, 0.954);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    height: 20px;

}
label{
  color: #030303;
  justify-content: center;

}
::placeholder{
    color: #828484f6;
    text-shadow: 1px 1px 4px rgb(164, 170, 237);
    font-size: 12px;
}
.container button{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(90deg, rgb(13, 13, 72), blue);
    border: none;
    padding: 0.5rem;
    width: 300px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.956);
    font-size: medium;
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.container button:hover{
  color: #000000;
  transition-duration: 0.7s;
}
textarea{
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    padding: 1rem;
    width: 350px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.961);
    font-weight: 300;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

input:hover {
    cursor: pointer;
  
   
}
form p{
    font-family: 'Nanum Brush Script', cursive;
    color: #080a0f;
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    margin: 0;
    text-align: center;
}






       
       
    
   


  
  
    
 
  
  
  
  
  
    
  
  

  .Footer{
    
    background-color: #000000;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    bottom: 0;
    width:100vw;
    position: fixed;
  }


  .Social{
    width: 100%;
    background-color: rgb(234, 161, 27);
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    padding: 0;
    
    
   

  }
  .Social .Reseaux {
    position: relative;
    justify-content: center;
    margin: auto;
    display: flex;

  }
  
  .Reseaux{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 80px;
    list-style: none;

  }
  

  .Social i{
    font-size: 40px;
    text-align: center;
    position: relative;
    margin: 0;

  }
  .Reseaux li{
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    left: 50px;
    
  }
  .Reseaux li  :hover{
    transition: ease-in-out;
    transition: 2ms;
    color: #fff;
  }
  

  .Contact{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
  }
  .Mail i{
    color: #fff;
    font-size: 20px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
  }
  .Mail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Mail p{
    text-align: center;
    padding: 15px;
    font-size: 25px;
  }
i{
    list-style: none;
  }
  .Contact p{
    color: #fff;
    margin: auto;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    text-align: center;

  }


  .Contact h3{
    color: #fff;
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding: 6px;
    font-weight: 500;
    

  }
  .copyright{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    height: 60px;
    background-color:  rgb(0, 0, 0); 
  }
  .copyright p{
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px;
      font-family: 'Lexend Deca', sans-serif;
   
  }




 



  
  

 
  













